* {
  border: 0;
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #333;
  font-family: 'Muli', sans-serif;
  color: #fff; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media screen and (min-width: 416px) {
  .l_main {
    width: 100%;
    height: 100%;
    background: url("../img/bg-large.png") no-repeat 50% 50%;
    background-size: cover; }
  .l_preloader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 12; }
    .l_preloader .b_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      padding: 25px;
      border-radius: 50%;
      border: 5px solid #fff;
      background: #e12628;
      z-index: 10; }
      .l_preloader .b_icon img {
        -webkit-animation: rotate 2s infinite linear;
        animation: rotate 2s infinite linear;
        width: 110px; }
    .l_preloader .b_word {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 5%;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px;
      z-index: 10; }
      .l_preloader .b_word .dot {
        display: inline-block;
        letter-spacing: -3px; }
      .l_preloader .b_word .dot:nth-child(1) {
        -webkit-animation: fade1 2s infinite 0.1s ease;
        animation: fade1 2s infinite 0.1s ease; }
      .l_preloader .b_word .dot:nth-child(2) {
        -webkit-animation: fade2 2s infinite 0.2s ease;
        animation: fade2 2s infinite 0.2s ease; }
      .l_preloader .b_word .dot:nth-child(3) {
        -webkit-animation: fade3 2s infinite 0.3s ease;
        animation: fade3 2s infinite 0.3s ease; }
  .l_preloader:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.33); }
  .m_active {
    color: #ff0105; }
  .m_visible {
    display: block;
    -webkit-animation: visible 3s 1 0s ease;
    animation: visible 3s 1 0s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .m_invisible {
    display: block;
    -webkit-animation: invisible 3s 1 0s ease;
    animation: invisible 3s 1 0s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .l_map {
    display: none; }
  .b_map {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5; }
  .b_menu {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: 90px;
    right: -2.5%;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 6; }
    .b_menu a {
      margin: 0 0 0 30px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .b_menu a:hover {
      color: #ff0105; }
  .b_copyright {
    position: absolute;
    position: absolute;
    left: 3%;
    -webkit-transform: translateX(-3%);
    -ms-transform: translateX(-3%);
    transform: translateX(-3%);
    bottom: 6%;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 6; }
  .b_skip {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 5%;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 6;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .b_skip:hover {
    opacity: 0.6; }
  .gm-style-mtc > div,
  .gmnoprint > div,
  .gm-fullscreen-control,
  .gmnoprint,
  .gm-style > div:nth-of-type(2),
  .gm-svpc {
    display: none; }
  .poi-info-window div, .poi-info-window a {
    background-color: black !important;
    color: #fff !important; }
  .poi-info-window .title {
    color: #ff0105 !important;
    font-weight: bold !important; }
  .gm-style > div > div:nth-of-type(4) > div:nth-of-type(4) > div > div > div:nth-of-type(2) {
    background-color: rgba(0, 0, 0, 0.5) !important; }
  .gm-style > div > div:nth-of-type(4) > div:nth-of-type(4) > div > div > div:nth-of-type(2)::before {
    content: ' ';
    position: absolute;
    width: 2px;
    height: 15px;
    background: #ff0105;
    left: 50%;
    top: 100px; }
  .gm-style > div > div:nth-of-type(4) > div:nth-of-type(4) > div > div > div:nth-of-type(3),
  .gm-style > div > div:nth-of-type(4) > div:nth-of-type(4) > div > div > div:nth-of-type(4) {
    display: none; }
  .gm-style-iw + div {
    display: block;
    height: 15px !important;
    width: 15px !important;
    margin-top: -30px;
    margin-right: -30px;
    opacity: 1 !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 10px;
    z-index: 10000;
    cursor: pointer; }
  .gm-style-iw + div:hover {
    opacity: 0.75 !important; }
  .gm-style-iw + div img {
    display: none; }
  .gm-style-iw + div::before, .gm-style-iw + div::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 5px;
    background: #fff; }
  .gm-style-iw + div::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .gm-style-iw + div::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .l_story {
    background: url("../img/bg-story.png") no-repeat 50% 50%;
    background-size: cover;
    font-size: 18px; }
    .l_story .b_skip a:nth-of-type(2), .l_story .b_contacts {
      display: none; }
    .l_story .b_list {
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      font-weight: 300; }
      .l_story .b_list .i_title {
        font-weight: 900; }
      .l_story .b_list .i_title::before {
        content: '+';
        position: absolute;
        margin-left: -20px;
        line-height: 32px; }
      .l_story .b_list a {
        line-height: 36px;
        -webkit-transition: 0.75s;
        -o-transition: 0.75s;
        transition: 0.75s; }
      .l_story .b_list a:hover {
        color: #ff0105; }
      .l_story .b_list .i_title:hover a {
        color: #fff; }
    .l_story .b_list_1 {
      position: absolute;
      top: 40px;
      right: 51%;
      text-align: right; }
    .l_story .b_list_2 {
      position: absolute;
      top: 40px;
      left: 55%;
      text-align: left; }
    .l_story .l_content {
      width: 100%;
      height: 66%;
      position: absolute;
      bottom: 0;
      left: 0; }
    .l_story .b_about {
      width: 46%;
      margin: 0 0 0 3%;
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase; }
      .l_story .b_about h1 {
        font-size: 72px;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #ff0105; }
      .l_story .b_about .b_caption::after {
        content: ' ';
        position: absolute;
        width: 40px;
        height: 2px;
        background: #fff;
        margin: 15px 0 0 3px; }
      .l_story .b_about .b_text {
        margin: 35px 0 0 0;
        line-height: 36px;
        font-weight: 300;
        letter-spacing: 2px; }
    .l_story .b_restoran {
      width: 45%;
      height: 100%;
      float: right;
      display: inline-block;
      vertical-align: top; }
      .l_story .b_restoran h1 {
        font-size: 72px;
        text-transform: uppercase;
        letter-spacing: 5px; }
      .l_story .b_restoran .b_caption::after {
        content: ' ';
        position: absolute;
        width: 40px;
        height: 2px;
        background: #fff;
        margin: 15px 0 0 3px; }
      .l_story .b_restoran .b_phone, .l_story .b_restoran .b_mail, .l_story .b_restoran .b_adress {
        line-height: 30px;
        font-weight: 300; }
      .l_story .b_restoran .b_phone {
        white-space: pre-wrap;
        margin: 35px 0 0 0;
        color: #ff0105; }
        .l_story .b_restoran .b_phone .i_number::before {
          content: '+';
          position: absolute;
          margin-left: -10px; }
      .l_story .b_restoran .b_adress {
        display: inline-block; }
      .l_story .b_restoran .b_links {
        margin: 20px 0 0 0; }
        .l_story .b_restoran .b_links .b_networks {
          display: inline-block;
          vertical-align: middle;
          font-weight: 900;
          text-transform: uppercase;
          color: #ff0105; }
        .l_story .b_restoran .b_links a {
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 0 15px; }
        .l_story .b_restoran .b_links img {
          width: 24px;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .l_story .b_restoran .b_links a:hover img {
          -webkit-transform: scale(1.15);
          -ms-transform: scale(1.15);
          transform: scale(1.15);
          opacity: 0.7; }
      .l_story .b_restoran .b_photo {
        margin: 40px 0 0 0;
        width: 100%;
        height: 65%;
        background: url("../img/restoran.png") no-repeat 50% 50%;
        background-size: cover; }
      .l_story .b_restoran .b_photo::after {
        content: ' ';
        position: absolute;
        bottom: 5.9%;
        margin: 0 0 0 -20px;
        width: 40px;
        height: 2px;
        background: #fff;
        text-transform: uppercase;
        z-index: 6; }
  .l_page {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1200px;
    min-height: 600px;
    z-index: 10; }
    .l_page .b_logo {
      position: absolute;
      padding: 3% 0 0 2%;
      z-index: 10; }
      .l_page .b_logo img {
        width: 120px; } }

@media screen and (max-width: 415px) {
  .l_main {
    width: 100%;
    height: 100%;
    background: url("../img/bg-small.png") no-repeat 50% 50%;
    background-size: cover; }
  .l_preloader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5; }
    .l_preloader .b_icon {
      position: absolute;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%);
      padding: 25px;
      border-radius: 50%;
      border: 3px solid #fff;
      background: #e12628;
      z-index: 10; }
      .l_preloader .b_icon img {
        -webkit-animation: rotate 2s infinite linear;
        animation: rotate 2s infinite linear;
        width: 100px; }
    .l_preloader .b_word {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 5%;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px;
      z-index: 10; }
      .l_preloader .b_word .dot {
        display: inline-block;
        letter-spacing: -3px; }
      .l_preloader .b_word .dot:nth-child(1) {
        -webkit-animation: fade1 2s infinite 0.1s ease;
        animation: fade1 2s infinite 0.1s ease; }
      .l_preloader .b_word .dot:nth-child(2) {
        -webkit-animation: fade2 2s infinite 0.2s ease;
        animation: fade2 2s infinite 0.2s ease; }
      .l_preloader .b_word .dot:nth-child(3) {
        -webkit-animation: fade3 2s infinite 0.3s ease;
        animation: fade3 2s infinite 0.3s ease; }
  .l_preloader:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.33); }
  .l_map {
    display: none; }
  .b_map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5; }
  .b_skip {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 5%;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 6;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .b_menu {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: 75px;
    right: -15%;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 6; }
    .b_menu a {
      margin: 0 0 0 30px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .b_menu a:hover {
      color: #ff0105; }
  .b_skip:hover {
    opacity: 0.75; }
  .gm-style-mtc > div,
  .gmnoprint > div,
  .gm-fullscreen-control,
  .gmnoprint,
  .gm-style > div:nth-of-type(2),
  .gm-svpc {
    display: none; }
  .poi-info-window div, .poi-info-window a {
    background-color: black !important;
    color: #fff !important; }
  .poi-info-window .title {
    color: #ff0105 !important;
    font-weight: bold !important; }
  .gm-style > div > div:nth-of-type(4) > div:nth-of-type(4) > div > div > div:nth-of-type(2) {
    background-color: rgba(0, 0, 0, 0.5) !important; }
  .gm-style > div > div:nth-of-type(4) > div:nth-of-type(4) > div > div > div:nth-of-type(2)::before {
    content: ' ';
    position: absolute;
    width: 2px;
    height: 15px;
    background: #ff0105;
    left: 50%;
    top: 100px; }
  .gm-style > div > div:nth-of-type(4) > div:nth-of-type(4) > div > div > div:nth-of-type(3),
  .gm-style > div > div:nth-of-type(4) > div:nth-of-type(4) > div > div > div:nth-of-type(4) {
    display: none; }
  .gm-style-iw + div {
    display: block;
    height: 15px !important;
    width: 15px !important;
    margin-top: -30px;
    margin-right: -30px;
    opacity: 1 !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 10px;
    z-index: 10000;
    cursor: pointer; }
  .gm-style-iw + div:hover {
    opacity: 0.75 !important; }
  .gm-style-iw + div img {
    display: none; }
  .gm-style-iw + div::before, .gm-style-iw + div::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 5px;
    background: #fff; }
  .gm-style-iw + div::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .gm-style-iw + div::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .b_skip a:nth-of-type(1), .b_restoran, .l_restoran, .b_text p:nth-of-type(2) {
    display: none; }
  .l_story {
    background: url("../img/bg-small-story.png") no-repeat 50% 50%;
    background-size: cover; }
    .l_story .b_copyright {
      display: none; }
    .l_story .b_contacts {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;
      margin: 10px 0 0 42%; }
      .l_story .b_contacts a {
        line-height: 24px;
        -webkit-transition: 0.75s;
        -o-transition: 0.75s;
        transition: 0.75s; }
      .l_story .b_contacts a:hover {
        color: #ff0105; }
    .l_story .b_list {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;
      margin: 20px 0 0 42%; }
      .l_story .b_list a {
        line-height: 30px;
        -webkit-transition: 0.75s;
        -o-transition: 0.75s;
        transition: 0.75s; }
      .l_story .b_list a:hover {
        color: #ff0105; }
    .l_story .b_list_2 {
      display: none; }
    .l_story .b_about {
      text-transform: uppercase;
      margin: 20px auto 0;
      width: 305px; }
      .l_story .b_about .b_counter {
        margin: 0 0 0 5px; }
      .l_story .b_about h1 {
        font-size: 46px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ff0105; }
      .l_story .b_about .b_text {
        padding: 0 0 0 20px;
        margin: 10px 0 0 10px;
        border-left: 2px solid #ff0105;
        line-height: 24px;
        font-weight: 300; }
        .l_story .b_about .b_text br {
          display: none; }
  .l_page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; }
    .l_page .b_logo {
      position: absolute;
      padding: 3% 0 0 2%;
      z-index: 10; }
      .l_page .b_logo img {
        width: 120px; }
  .m_visible {
    display: block;
    -webkit-animation: visible 3s 1 0s ease;
    animation: visible 3s 1 0s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .m_invisible {
    display: block;
    -webkit-animation: invisible 3s 1 0s ease;
    animation: invisible 3s 1 0s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; } }

@media screen and (max-height: 950px) {
  .b_skip, .b_menu, .l_story {
    font-size: 12px; }
  .b_copyright {
    font-size: 11px; }
  h1 {
    font-size: 48px !important; }
  .b_list a, p, .b_adress, .b_phone, .b_mail {
    line-height: 24px !important; }
  .b_photo {
    margin-top: 20px !important; }
  .i_title::before {
    line-height: 22px !important; } }

@media screen and (max-width: 1300px) {
  .l_story .b_restoran .b_photo::after {
    display: none; } }

@media screen and (max-width: 1000px) {
  .b_copyright {
    display: none; } }

@media screen and (max-height: 650px) {
  .b_copyright {
    display: none; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes visible {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes visible {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes invisible {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes invisible {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fade1 {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes fade1 {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@-webkit-keyframes fade2 {
  0%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }

@keyframes fade2 {
  0%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }

@-webkit-keyframes fade3 {
  0%, 100% {
    opacity: 0; }
  30% {
    opacity: 1; } }

@keyframes fade3 {
  0%, 100% {
    opacity: 0; }
  30% {
    opacity: 1; } }
